:root {
    font-size: 16px;
    --header-height: 16vh;
    --footer-height: 6vh;
    font-family: Arial, Helvetica, sans-serif;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Header  */

.icon {
    fill:#F9F9F9;
    padding-bottom: 0.5rem;
}

nav p {
    color: #F9F9F9;
    font-size: 4.1rem;
}

nav {
    display: flex;
    justify-content: center;
}

.header {
    grid-area: header;
    height: var(--header-height);
    background-color: #005db3;
    align-content: center;
}

/*  Main  */

.main {
    grid-area: main;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    cursor: pointer;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));; /* Chnage it later */
    place-content: center;
}

.book-card {
    background-color: #E6E6E6;
    -webkit-box-shadow: 2px 2px 5px 2px #CACACACC;
    -moz-box-shadow: 2px 2px 5px 2px #CACACACC;
    box-shadow: 2px 2px 5px 2px #CACACACC;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.book-card > p {
    font-size: 22px;
}

.button-wrapper {
    display: flex;
}

.read-status {
    flex-basis: 60%;
    transition: all 0.1s linear;
}

.read-status:hover {
    filter: brightness(90%);
}

.card-delete-button {
    margin-left: auto;
    flex-basis: 30%;
    background-color: #006acd;
    color: #F9F9F9;
    transition: all 0.3s linear;
}

.card-delete-button:hover {
    background-color: #005db3;
}

.read-status, 
.card-delete-button {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.button-container {
    padding-top: 40px;
    align-self: center;
}

.add-book-button {
    border: none;
    background-color: #F9F9F9;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.7rem;
    font-weight: 600;
    transition: all 0.3s linear;
    outline: none;
}

.add-book-button:hover {
    background-color: #E6E6E6;   
}

/* Footer  */

.footer {
    grid-area: footer;
    height: var(--footer-height);
    background-color: #E6E6E6;

    display: flex;
    gap: 0.25rem;
    font-size: 0.6rem;
    justify-content: center;
    align-items: end;
}

a {
    text-decoration: none;
}

.footer a,
.footer a:visited {
    color: #000000;
}

.footer > * {
    padding-bottom: 0.25rem;
}

/*  Wrapper - mobile layout  */

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/*  Modal  */

.modal {
    margin: auto;
    width: 290px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 30px 15px;
    background-color: #E6E6E6;
}

.modal::backdrop {
    background-color: #00000066;
}

.form-dialog {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: auto;
}

.form-dialog > * {
    font-size: 20px;
    display: block;
    font-size: 20px;
}

.form-dialog p {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}

#closeBtn {
    background-color: #E6E6E6;
}

#closeBtn:hover {
    background-color: #d9d9d9;
}

#closeBtn, 
#confirmBtn {
    outline: none;
    border: none;
    transition: all 0.3s linear;
    padding: 15px;
    border-radius: 8px;
    font-size: 22px;
}

#confirmBtn {
    background-color: #006acd;
}

#confirmBtn:enabled:hover {
    background-color: #005db3;
}

#confirmBtn:disabled {
    cursor: not-allowed;
}

input[type="text"], 
input[type="checkbox"],
input[type="number"] {
    outline: none;
    border: none;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.form-dialog div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

input[type="checkbox"] {
    height: 16px;
    width: 16px;
}

label {
    text-align: center;
}

@media only screen and (min-width: 785px) {
    .wrapper {
        background-color: #F9F9F9;
    }

    .main {
        justify-self: center;
        width: 800px;
    }
}

@media only screen and (min-width: 1440px) {
    .modal {
        margin: 180px auto auto auto; 
    }
}

@media only screen and (min-width: 2560px) {
    .modal {
        margin: auto;
    }
}

/* Form validation */

form label * {
    display: block;
    width: 100%;
}

input#title:invalid, 
input#author:invalid, 
input#pages:invalid {
    border: 1.5px solid #f87171;
}

.title-ntf::after {
    content: "Please enter a title.";
}

.author-ntf::after {
    content: "Please enter author's name.";
}

.pages-ntf::after {
    content: "Enter total number of pages.";
}

form input::placeholder {
    font-style: italic;
}

input#title:valid, 
input#author:valid,
input#pages:valid {
    border: 1.5px solid #22c55e;
}

.msg {
    font-style: italic;
    text-align: start;
    padding: 5px;
    border-radius: 5px;
    font-size: 70%;
    color: #5b5b5b;
}
